<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="../static/error.css">
</head>
<body>
    <center>
    <h1>404 not found</h1>
    <p class="p1">If you see this page</p>
    <p id="p2">Then you have probably input something very wrong</p>
    <form action="http://localhost:5000/">
        <p> 
        <input type="submit" value="Back">
        </p>
    </form>
    </center>
</body>
</html>