<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>News Category Predictor</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">News Category Predictor</a> </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#features" class="page-scroll">Categories</a></li>
        <li><a href="#contact" class="page-scroll">Start Predicting!</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>NCP<span></span></h1>
            <p>"Works based on the news headline and short description. Generalize articles you can't comprehend, at least, but hey, it's up to 25 categories!"</p>
            <a href="#features" class="btn btn-custom btn-lg page-scroll">List of Categories</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Categories Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>Categories</h2>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>ARTS & CULTURE</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>BLACK VOICES</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>BUSINESS</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>CRIME</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>DIVORCE</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>EDUCATION</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>ENTERTAINMENT</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>ENVIRONMENT</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>FOOD & DRINK</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>HOME & LIVING</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>IMPACT</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>LATINO VOICES</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>MEDIA</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>PARENTS</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>POLITICS</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>QUEER VOICES</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>RELIGION</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>SCIENCE & TECH</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>SPORTS</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>STYLE & BEAUTY</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>TRAVEL</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>WEDDINGS</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>WEIRD NEWS & COMEDY</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>WOMEN</h3>
      </div>
    </div>
    <br>
    <div class="row">
    <center>
      <div> <i class="fa fa-comments-o"></i>
        <h3>WORLD NEWS</h3>
      </div>
    </center>
    </div>
  </div>
</div>

<!-- Prediction -->
<div id="contact">
  <div class="container">
    <div class="col-md-20">
      <div class="row">
        <center>
        <div>
          <div class="intro">
            <div class="overlay">
                <h1>Gather Your News!</h1>
            </div>
         </div>
        </div>
        </center>
        <form action="http://localhost:5000/prediksi" method="post">
          <br>
          <center>
          <p style="font-size: 33px"><b>Fill in the news headline and its short description below</b></p> 
          <p style='font-size: 20px'>You can also make ones for yourself and let us decide in which category the news might be!</p>
          </center>
            <textarea name="head" id="message" class="form-control" rows="2" placeholder="News Headline" required></textarea>
            <p class="help-block text-danger"></p>
            <textarea name="desc" id="message" class="form-control" rows="6" placeholder="News Description" required></textarea>
            <p class="help-block text-danger"></p>
        <center>
            <input type="submit" value="Predict Category" class="btn btn-custom btn-lg">
        </center>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2017 Interact. Design by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/static/js/bootstrap.js"></script> 
<script type="text/javascript" src="/static/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="/static/js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="/static/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>